[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bpnreg"]
	path = bpnreg
	url = https://github.com/joliencremers/bpnreg
[submodule "waspr"]
	path = waspr
	url = https://github.com/joliencremers/waspr
